[submodule "SimCCL"]
	path = SimCCL
	url = https://github.com/sepehrabdous/SimCCL.git
	branch = master
[submodule "aicb"]
	path = aicb
	url = https://github.com/sepehrabdous/aicb.git
	branch = master
[submodule "ns-3-alibabacloud"]
	path = ns-3-alibabacloud
	url = https://github.com/aliyun/ns-3-alibabacloud
	branch = master
